<div class="row">
	<div class="col-lg-9">
		<rd-widget>
      		<rd-widget-header icon="fa-map-marker" title="Events">
				<a class="pull-right" data-toggle="modal" data-target="#formModal" ng-click="setEvent()">New</a>
      		</rd-widget-header>
      		<rd-widget-body classes="no-padding">
				<div class="table-responsive">
					<table class="table">
            
            <thead>
              <tr><th>Event Name</th><th>Description</th><th>Date Created</th><th>Date Start</th><th>Date End</th><th>Action</th></tr>
            </thead>
						<tbody>
							<tr ng-repeat="event in events">
                <td ng-bind="event.name"></td>
                <td ng-bind="event.description"></td>
                <td ng-bind="event.dateCreated | date:'MMM d yyyy'"></td>
                <td ng-bind="event.dateStart | date:'MMM d yyyy'"></td>
                <td ng-bind="event.dateEnd | date:'MMM d yyyy'"></td>
                <td> 
                  <a  data-toggle="modal" data-target="#formModal" ng-click="setEvent(event)" >Edit</a> |
                  <a  ui-sref="registrantslist({alias:event.id})">Users</a>
                </td>
              </tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&laquo;</a></li>
          <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
          <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
          <li class="active"><a>{{page}}</a></li>
          <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
          <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
          <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
		</rd-widget>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span ng-hide="mainEvent.id">New</span> Event details</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="eventform">
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainEvent.name" placeholder="one/two liner" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainEvent.description" placeholder="the event is all about?">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Date Start</label>
            <div class="col-sm-10">
              <input type="datetime-local" class="form-control" ng-model="mainEvent.dateStart" placeholder="Start date">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Date End</label>
            <div class="col-sm-10">
              <input type="datetime-local" class="form-control" ng-model="mainEvent.dateEnd" placeholder="End date">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Successful registration spiel</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainEvent.successMessage" placeholder="Successful message">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Already registered spiel</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainEvent.alreadyRegisteredMessage" placeholder="Already registered message">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Footer note</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainEvent.footer" placeholder="Footer">
            </div>
          </div>
          
          <div class="form-group">
            <div class="center-block" style="max-height:250px;max-width:250px;">
              <span class="text-center" ng-show="bannerPercentage"> File uploading {{bannerPercentage}} %</span>
              <img class="item-image" src="{{mainEvent.bannerUrl? mainEvent.bannerUrl:'/admin/img/no-image.png'}}" ngf-select ngf-change="upload($file,true)"/>
              <span class="text-center">Banner</span>
            </div>
            <hr>
            <div class="center-block" style="max-height:250px;max-width:250px;">
              <span class="text-center" ng-show="percentage"> File uploading {{percentage}} %</span>
              <img class="item-image" src="{{mainEvent.imgUrl? mainEvent.imgUrl:'/admin/img/no-image.png'}}" ngf-select ngf-change="upload($file,false)"/>
              <span class="text-center">Background</span>
            </div>
          </div>
          
          
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="mainEvent.active"> Active?
            </label>
          </div>
          <div ng-repeat="requirement in mainEvent.requirements track by $index">
          
            <div class="form-group">
              <label class="col-sm-2 control-label">Requirement #{{$index +1}}</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="mainEvent.requirements[$index].name" placeholder="this should be unique" required>
              </div>
              <div class="col-xs-3">
                <select class="form-control" ng-model="mainEvent.requirements[$index].type">
                  <option>STRING</option>
                  <option>OPTIONS</option>
                </select>
              </div>
              <div class="col-xs-3">
                <button type="button" class="btn btn-info" ng-show="requirement.type=='OPTIONS'" ng-click="addOption(requirement)"><span class="fa fa-plus"></span></button>
                <button type="button" class="btn btn-danger" ng-click="removeRequirement($index)"><span class="fa fa-remove"></span></button>
              </div>
            </div>
            <div ng-show="requirement.type=='OPTIONS'" class="row" ng-repeat="option in requirement.options track by $index">
              <div class="col-md-offset-3 col-xs-5">
                <input type="text" class="form-control" ng-model="requirement.options[$index]" placeholder="Option {{$index+1}}" required>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-danger" ng-click="removeOption(requirement,$index)"><span class="fa fa-remove"></span></button>
              </div>
            </div>
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success pull-left" ng-click="addRequirement()"><span class="fa fa-plus"></span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" ng-disabled="!eventform.$valid" ng-click="saveEvent()">Save</button>
      </div>
    </div>
  </div>
</div>
