

<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="title" ng-bind="mainEvent.name"></div>
        <div class="comment"  ng-bind="mainEvent.description"></div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title"  ng-bind="total"></div>
        <div class="comment">Users</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>


<div class="row">
  <div class="col-lg-9">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Users">
        <a class="pull-right"  data-toggle="modal" data-target="#formModal" ng-click="setRegistrant()"> New </a>
        <a  target="_blank" href="/register/api/events/{{mainEvent.id}}/registrants/downloads" > Download </a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><th>Name</th><th>Email</th><th>Mobile Number</th><th>Date Created</th><th>Date Registered</th><th>Action</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="registrant in registrants">
                <td ng-bind="registrant.fullname"></td>
                <td ng-bind="registrant.email"></td>
                <td ng-bind="registrant.mobile"></td>
                <td ng-bind="registrant.created | date:'MMM d yyyy HH:mm'"></td>
                <td ng-bind="registrant.registered | date:'MMM d yyyy HH:mm'"></td>
                <td> 
                  <a  data-toggle="modal" data-target="#formModal" ng-click="setRegistrant(registrant)" >Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <a ui-sref="eventslist">Back</a>
        <ul class="pagination pagination-sm pull-right">
          <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&laquo;</a></li>
          <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
          <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
          <li class="active"><a>{{page}}</a></li>
          <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
          <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
          <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span ng-hide="mainRegistrant.id">New</span> Registrant details</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="registrantform">
          <div class="form-group">
            <label class="col-sm-2 control-label">Firstname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainRegistrant.firstname">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Middlename</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainRegistrant.middlename">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Lastname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainRegistrant.lastname">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainRegistrant.email">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Mobile Number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainRegistrant.mobile">
            </div>
          </div>
          
          <div class="form-group" ng-repeat="requirement in mainEvent.requirements track by $index">
            <label class="col-sm-2 control-label">{{requirement.name}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="mainRegistrant.profile[requirement.id]">
            </div>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="mainRegistrant.walkIn"> Walk In?
            </label>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" ng-disabled="!registrantform.$valid" ng-click="saveRegistrant()">Save</button>
      </div>
    </div>
  </div>
</div>
