<!DOCTYPE html>
<html ng-app="registration" lang="en" class="ng-scope">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@charset "UTF-8"; 

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak, .ng-hide:not (.ng-animate ){
	display: none !important;
}

ng\:form {
	display: block;
}
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Registration</title>
<!-- Bootstrap core CSS -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/app/css/signin.css" rel="stylesheet">
<link href="/app/css/component.css" rel="stylesheet">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/app/js/app.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="UserController as userCtrl" class="ng-scope" data-feedly-mini="yes"   ng-style="{'background-image':'url('+mainEvent.imgUrl+')'}">
  <div class="container">
    <div class="img-container">
      <img class="img img-responsive" ng-src="{{mainEvent.bannerUrl}}">
    </div>
    <form name="form" class="register-form cbp-mc-form ng-pristine ng-invalid ng-invalid-required" role="form" novalidate="" ng-submit="getUser()">
      <div class="row">
        <!-- <img src="./Registration_files/logo.png" class="col-md-3 col-sm-3 col-xs-6"> -->
        <div class="col-xs-6"></div>
      </div>
      <div class="row">
        <h2 class="form-heading ng-binding">
          <div ng-show="querying" class="spinner pull-right ng-hide">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
            <div class="rect7"></div>
          </div>
        </h2>
      </div>
      <div class="row register-field">
        <div class="col-md-offset-3 col-md-6 register-field">
          <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="mainUser.lastname" ng-blur="getUser()" placeholder="Lastname" autofocus="">
        </div>
        <div class="col-md-2">
          <span class="btn btn-default btn-inverse col-xs-12"  data-toggle="modal" data-target="#usersModal" ng-show="users.length>1" style="margin: auto;">Found {{users.length}} users</span>
          <span class="btn btn-default btn-inverse col-xs-12"  ng-hide="users.length>1 || notFound || mainUser.id" ng-click="getUser()">Search</span>
        </div>
      </div>
      <div ng-show="mainUser.id || notFound" class="ng-hide">
      
        <div class="row register-field">
          <div class="col-md-offset-3 col-md-6 register-field">
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="mainUser.firstname" placeholder="Firstname" autofocus="" required>
          </div>
        </div>
        
        <div class="row register-field">
          <div class="col-md-offset-3 col-md-6 register-field">
            <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="mainUser.email" placeholder="Email address" required>
          </div>
        </div>
        
        <div class="row register-field" ng-repeat="requirement in mainEvent.requirements">
          <div class="col-md-offset-3 col-md-6 register-field">
            <input ng-show="requirement.type=='STRING'" type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="mainUser.profile[requirement.id]" placeholder="{{requirement.name}}">
            <select  ng-show="requirement.type=='OPTIONS'" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="mainUser.profile[requirement.id]"  placeholder="{{requirement.name}}" required>
              <option value="" selected disabled>{{requirement.name}}</option>
              <option ng-repeat="option in requirement.options track by $index">{{option}}</option>
            </select>
          </div>
        </div>
        <div class="row" ng-show="mainEvent.footer">
          <h5 class="text-center form-heading"><i>{{mainEvent.footer}}</i></h5>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-default btn-inverse pull-left" ng-click="cancel()">Cancel</button>
            <button  ng-disabled="!form.$valid" class="btn btn-lg btn-default pull-right btn-inverse" ng-click="saveUser()" type="button">Register</button>
        </div>
      </div>
      
    </form>
    
    
  <!-- Modal -->
  <div class="modal fade" id="usersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Registrants found</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users" ng-click="setUser(user)" >
                <td ng-bind="user.lastname" data-dismiss="modal"></td>
                <td ng-bind="user.firstname"  data-dismiss="modal"></td>
                <td ng-bind="user.email" data-dismiss="modal"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="newUser()">New user</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    
  </div>
  
</body>

</html>