.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-row {
	width: 100%;
	padding: 5px 15px;
	float: left;
}


.cbp-mc-column {
	width: 50%;
	padding: 5px 15px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 10px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select{
	font-size:14.0em;
	text-align:center;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.5em;
	padding: 2px 10px;
	color: #fff;
	display: block;
	width: 100%;
	background: transparent;
}

.cbp-mc-form select option{
	font-size:14.0em;
	text-align:center;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.2em;
  padding: 0 0 0 20px;
	color: #000;
	display: block;
	width: 100%;
	background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #fff;
}

.cbp-mc-form textarea {
	min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #eee;
}

.cbp-mc-form select:focus {
	outline: none;
}
::-webkit-input-placeholder {
    color:    #CECECE !important;
    font-style: italic;
}
:-moz-placeholder {
    color:    #CECECE !important;
    font-style: italic;
}
::-moz-placeholder {
    color:    #CECECE !important;
    font-style: italic;
}
:-ms-input-placeholder {
    color:    #CECECE !important;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 30px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-draw {
	background: #1ECD97;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
	margin: 0px 10px;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
	margin: 0px 10px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #1478b1;
}

.cbp-mc-form input.cbp-mc-clear {
	background: #FB797E;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
	margin: 0px 10px;
}



.cbp-mc-form a.cbp-mc-link {
	background: #1068ba;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 10px;
	font-size: 1em;
	border-radius: 2px;
	letter-spacing: 1px;
	margin: 0px 15px;
}

.img-container{
	height:14em;
  margin-top:auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}


.img-container > .img{
    max-height: 100%;
    max-width: 100%;
	  margin:auto;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}