
[ui-view].ng-enter, [ui-view].ng-leave {
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}
.item-image{
	  width: auto;
    height: auto;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}